# Dependencies
/node_modules

# Next.js output
/.next
/out

# Generated content collections
/source-generated

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.vscode/
.idea/
