@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --fd-layout-width: 88rem;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--font-sans);
}

#nd-docs-layout {
  --fd-sidebar-width: 268px;
}

code,
pre,
kbd,
samp {
  font-family: var(--font-mono);
}

a {
  text-underline-offset: 0.2em;
}
